.header-slide-toggle {
	display: none;
}

.main-header {
	margin-bottom: 40px;
}

			/* MAIN-NAVIGATION */

.main-navigation {
	display: flex;
	max-width: 900px;
	min-height: 64px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.main-navigation-items {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: 530px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-navigation-item {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 100px;
	margin: 0;
	padding: 0;
}

.logo-header {
	display: block;
}

.user-navigation-items {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: 268px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.user-navigation-item {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.header-contact-information {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	min-height: 45px;
}

.header-contact-information-paragraph {
	margin: 0;
}

.paragraph-time {
	font-size: 14px;
	line-height: 18px;
}

.paragraph-number {
	font-size: 22px;
	line-height: 28px;
}

			/* HEADER-SLIDES */

.header-slide-img-1 {
	position: absolute;
	top: 5%;
	left: 25%;
	z-index: -1;
	width: 647px;
	height: 584px;
}

.header-slides {
	display: flex;
	min-height: 500px;
	flex-direction: column;
}

.header-slide {
	margin-top: auto;
	text-align: center;
}

.header-slide-title {
	font-size: 60px;
	line-height: 66px;
	text-align: center;
}

.header-slide-button {
	
}

		/* MAIN */

main {
	margin-bottom: 35px;
}

	/* BANNERS */

.banners {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 40px;
}

.banner {
	width: 430px;
	min-height: 233px;
}

		/* POPULAR-PRODUCT */

.popular-products {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.popular-product-img {
	display: block;
	width: 200px;
	height: 200px;
}

.popular-product {
	width: 200px;
	min-height: 283px;
}

.popular-product-title {
	font-size: 16px;
	line-height: 22px;
}

		/* ABOUT-US */

.about-us {
	margin-bottom: 40px;
}

.about-us-title {
	font-size: 24px;
	line-height: 30px;
}

.about-us-paragraphs {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.about-us-paragraph {
	width: 399px;
	min-height: 130px;
	padding-left: 57px;
	text-align: left;
}

		/* CONTENT-BLOCKS */

.content-blocks {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 40px;
}

.blog-news,
.mailing-block {
	width: 420px;
	min-height: 220px;
}


		/* MAP-BLOCK */

.map-block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-end;
}

		/* MAIN-FOOTER */

.main-footer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

		/* SOCIAL-BUTTONS */

.social-buttons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: 200px;
	min-height: 50px;	
}

.social-button {
	display: block;
	width: 35px;
	height: 40px;
}

		/* FOOTER-NAVIGATION-ITEMS */

.footer-navigation-items {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: 330px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-navigation-item {
	margin: 0;
	padding: 0;
}

.developer-logo {
	display: block;
	width: 112px;
	height: 40px;
}

.about-developer {
	width: 200px;
}

/* --- */
		/* DEFAULT SETTINGS */

#header-slide-toggle-1:checked ~ .wrapper {
	background: radial-gradient(circle at 50% 18%, #cbf1dc 5%, #92ad9e 15%);
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 22px;
}

.main-header,
main,
.main-footer {
	width: 900px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.visibility-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
}

.visually-hidden {
	display: none;
}

/* label[for*="toggle-1"],
label[for*="toggle-2"],
label[for*="toggle-3"] {
	display: block;
	width: 18px;
	height: 18px;
}

#header-slide-toggle-1:checked ~ .wrapper label[for*="toggle-1"] {
	
} */